# Notebook to do the Preprocessing of the IMDB Dataset

# Import the Pandas module and read the title_basics file

In [1]:
import pandas as pd
 

title_basics = pd.read_csv('title_basics.tsv', sep='\t')
 
title_basics

C:\Users\Shardul\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8873823,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8873824,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8873825,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8873826,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8873827,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

# Drop all rows with titleType="tvEpisode"

In [2]:
title_basics = title_basics.drop(title_basics[title_basics.titleType == "tvEpisode"].index)
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

# Check the count of each type of value in titleType

In [3]:
title_basics['titleType'].value_counts()

short           866397
movie           608212
video           259630
tvSeries        223964
tvMovie         135843
tvMiniSeries     43148
tvSpecial        36668
videoGame        30987
tvShort          10524
tvPilot              2
Name: titleType, dtype: int64

# Choose only the movie type of titleType and drop the rest

In [4]:
title_basics = title_basics[title_basics['titleType'] == "movie"]
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
8873718,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
8873745,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
8873757,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
8873768,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
8873778,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary

# Remove blank/"\N" values from the dataset

In [5]:
title_basics = title_basics.drop(title_basics[title_basics.genres == "\\N"].index)
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
8873717,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
8873718,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
8873745,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
8873757,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
8873778,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary

# Save csv of the dataset

In [7]:
title_basics.to_csv("title_basics.csv", sep=',')

# Replace "\N" values with 0 in endYear attribute

In [9]:
title_basics["endYear"].replace({"\\N": "0"}, inplace=True)
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,0,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,0,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,0,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,0,\N,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,0,\N,Drama
...,...,...,...,...,...,...,...,...,...
8873717,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,0,\N,Drama
8873718,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,0,57,Documentary
8873745,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,0,100,Documentary
8873757,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,0,\N,Comedy
8873778,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,0,49,Documentary

# Replace "\N" values with 0 in runtimMinutes attribute

In [10]:
title_basics["runtimeMinutes"].replace({"\\N": "0"}, inplace=True)
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,0,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,0,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,0,0,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,0,0,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,0,0,Drama
...,...,...,...,...,...,...,...,...,...
8873717,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,0,0,Drama
8873718,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,0,57,Documentary
8873745,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,0,100,Documentary
8873757,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,0,0,Comedy
8873778,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,0,49,Documentary

# Replace "\N" values with 0 in startYear attribute

In [11]:
title_basics["startYear"].replace({"\\N": "0"}, inplace=True)
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,0,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,0,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,0,0,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,0,0,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,0,0,Drama
...,...,...,...,...,...,...,...,...,...
8873717,tt9916620,movie,The Copeland Case,The Copeland Case,0,0,0,0,Drama
8873718,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,0,57,Documentary
8873745,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,0,100,Documentary
8873757,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,0,0,Comedy
8873778,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,0,49,Documentary

# Drop endYear attribute

In [12]:
title_basics = title_basics.drop('endYear', 1)
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,0,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,0,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,0,Drama
...,...,...,...,...,...,...,...,...
8873717,tt9916620,movie,The Copeland Case,The Copeland Case,0,0,0,Drama
8873718,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,57,Documentary
8873745,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,100,Documentary
8873757,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,0,Comedy
8873778,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,49,Documentary

# Save csv of the titlebasics again

In [14]:
title_basics.to_csv("title_basics_latest.csv", sep=',')

# Use one hot encoding on the dataset to split the genres

In [16]:
list_here=[0]*(title_basics.shape[0])
title_basics['genres'].value_counts()
genres_list =title_basics['genres'].tolist()
for genre_here in genres_list:
    gl=genre_here.split(",")
    for genre in gl:
        if genre not in title_basics:
            title_basics[genre]=list_here
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,Adventure,...,Music,Animation,Musical,Film-Noir,News,Short,Adult,Reality-TV,Talk-Show,Game-Show
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography",0,0,...,0,0,0,0,0,0,0,0,0,0
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama,0,0,...,0,0,0,0,0,0,0,0,0,0
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,0,Drama,0,0,...,0,0,0,0,0,0,0,0,0,0
625,tt0000630,movie,Hamlet,Amleto,0,1908,0,Drama,0,0,...,0,0,0,0,0,0,0,0,0,0
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,0,Drama,0,0,...,0,0,0,0,0,0,0,0,0,0

# Use one hot encoding on the dataset to set the values

In [17]:
for index, row in title_basics.iterrows():
    gl=row['genres'].split(",")
    for genre in gl:
        title_basics.at[index,genre]=1
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,Adventure,...,Music,Animation,Musical,Film-Noir,News,Short,Adult,Reality-TV,Talk-Show,Game-Show
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography",1,1,...,0,0,0,0,0,0,0,0,0,0
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama,0,0,...,0,0,0,0,0,0,0,0,0,0
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,0,Drama,0,0,...,0,0,0,0,0,0,0,0,0,0
625,tt0000630,movie,Hamlet,Amleto,0,1908,0,Drama,0,0,...,0,0,0,0,0,0,0,0,0,0
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,0,Drama,0,0,...,0,0,0,0,0,0,0,0,0,0

# Save latest CSV file

In [18]:
title_basics.to_csv("title_basics_latest_1.csv", sep=',')

# Open previously saved CSV

In [20]:
title_basics_latest = pd.read_csv('title_basics_latest_1.csv')
title_basics_latest

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,...,Music,Animation,Musical,Film-Noir,News,Short,Adult,Reality-TV,Talk-Show,Game-Show
0,570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography",1,...,0,0,0,0,0,0,0,0,0,0
1,587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama,0,...,0,0,0,0,0,0,0,0,0,0
2,610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,0,Drama,0,...,0,0,0,0,0,0,0,0,0,0
3,625,tt0000630,movie,Hamlet,Amleto,0,1908,0,Drama,0,...,0,0,0,0,0,0,0,0,0,0
4,668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,0,Drama,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536735,8873717,tt9916620,movie,The Copeland Case,The Copeland Case,0,0,0,Drama,0,...,0,0,0,0,0,0,0,0,0,0
536736,8873718,tt9916622,movie,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,0,2015,57,Documentary,0,...,0,0,0,0,0,0,0,0,0,0
536737,8873745,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,100,Documentary,0,...,0,0,0,0,0,0,0,0,0,0
536738,8873757,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,0,Comedy,0,...,0,0,0,0,0,0,0,0,0,0
536739,8873778,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,49,Documentary,0,...,0,0,0,0,0,0,0,0,0,0

# Read title_ratings tsv file

In [21]:
title_ratings = pd.read_csv('title_ratings.tsv', sep='\t')
 
# printing data
title_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1874
1        tt0000002            5.9       248
2        tt0000003            6.5      1647
3        tt0000004            5.8       160
4        tt0000005            6.2      2475
...            ...            ...       ...
1238275  tt9916690            6.5         6
1238276  tt9916720            5.5       208
1238277  tt9916730            8.7         6
1238278  tt9916766            6.7        19
1238279  tt9916778            7.2        34

[1238280 rows x 3 columns]

# Convert the "tconst" identifier to a list

In [22]:
tconst_list_from_basics = title_basics_latest['tconst'].tolist()

# Use merge operation to combine the latest basics file and the ratings file

In [25]:

final_data=pd.merge(title_basics_latest, title_ratings, on='tconst', how='outer')
final_data

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,...,Musical,Film-Noir,News,Short,Adult,Reality-TV,Talk-Show,Game-Show,averageRating,numVotes
0,570.0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,760.0
1,587.0,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.6,17.0
2,610.0,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,0.0,Drama,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,23.0
3,625.0,tt0000630,movie,Hamlet,Amleto,0.0,1908.0,0.0,Drama,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.8,24.0
4,668.0,tt0000675,movie,Don Quijote,Don Quijote,0.0,1908.0,0.0,Drama,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.9,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507730,NaN,tt9916690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5,6.0
1507731,NaN,tt9916720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5,208.0
1507732,NaN,tt9916730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.7,6.0
1507733,NaN,tt9916766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7,19.0
1507734,NaN,tt9916778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,34.0

# Remove the extra 'Unnamed: 0' column

In [29]:
final_data = final_data.drop('Unnamed: 0', 1)
final_data

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,Adventure,...,Musical,Film-Noir,News,Short,Adult,Reality-TV,Talk-Show,Game-Show,averageRating,numVotes
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,760.0
1,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.6,17.0
2,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,23.0
3,tt0000630,movie,Hamlet,Amleto,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.8,24.0
4,tt0000675,movie,Don Quijote,Don Quijote,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.9,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507730,tt9916690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5,6.0
1507731,tt9916720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5,208.0
1507732,tt9916730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.7,6.0
1507733,tt9916766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7,19.0
1507734,tt9916778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,34.0

# Drop all rows with no title or titleType as NaN

In [30]:
final_data = final_data.drop(final_data[final_data.titleType == "NaN"].index)
final_data

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,Adventure,...,Musical,Film-Noir,News,Short,Adult,Reality-TV,Talk-Show,Game-Show,averageRating,numVotes
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,760.0
1,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.6,17.0
2,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,23.0
3,tt0000630,movie,Hamlet,Amleto,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.8,24.0
4,tt0000675,movie,Don Quijote,Don Quijote,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.9,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507730,tt9916690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5,6.0
1507731,tt9916720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5,208.0
1507732,tt9916730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.7,6.0
1507733,tt9916766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7,19.0
1507734,tt9916778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,34.0

# Drop any remaining rows with NaN values in them

In [31]:
final_data = final_data.dropna()
final_data

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,Adventure,...,Musical,Film-Noir,News,Short,Adult,Reality-TV,Talk-Show,Game-Show,averageRating,numVotes
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,760.0
1,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.6,17.0
2,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.5,23.0
3,tt0000630,movie,Hamlet,Amleto,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.8,24.0
4,tt0000675,movie,Don Quijote,Don Quijote,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.9,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536730,tt9916190,movie,Safeguard,Safeguard,0.0,2020.0,90.0,"Action,Adventure,Thriller",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.6,233.0
536731,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0.0,2020.0,84.0,Thriller,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.8,1331.0
536732,tt9916362,movie,Coven,Akelarre,0.0,2020.0,92.0,"Drama,History",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.4,4580.0
536733,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0.0,2019.0,0.0,"Adventure,History,War",0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.6,15.0
536734,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,123.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.3,6.0

# Read the title crew tsv file.

In [33]:
title_crew = pd.read_csv('title_crew.tsv', sep='\t')
title_crew

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
8873823  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8873824  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8873825  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8873826  tt9916856           nm10538645                      nm6951431
8873827  tt9916880            nm0996406            nm1482639,nm2586970

[8873828 rows x 3 columns]

# Merge the final data and title crew data

In [34]:
final_data_1=pd.merge(final_data, title_crew, on='tconst', how='inner')
final_data_1

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,Adventure,...,News,Short,Adult,Reality-TV,Talk-Show,Game-Show,averageRating,numVotes,directors,writers
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,760.0,nm0846879,nm0846879
1,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.6,17.0,nm0141150,nm0141150
2,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.5,23.0,nm0533958,"nm0092809,nm0533958"
3,tt0000630,movie,Hamlet,Amleto,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.8,24.0,nm0143333,nm0000636
4,tt0000675,movie,Don Quijote,Don Quijote,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.9,19.0,nm0194088,nm0148859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267280,tt9916190,movie,Safeguard,Safeguard,0.0,2020.0,90.0,"Action,Adventure,Thriller",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.6,233.0,nm7308376,nm7308376
267281,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0.0,2020.0,84.0,Thriller,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.8,1331.0,nm1480867,"nm1480867,nm10538402"
267282,tt9916362,movie,Coven,Akelarre,0.0,2020.0,92.0,"Drama,History",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.4,4580.0,nm1893148,"nm1893148,nm3471432"
267283,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0.0,2019.0,0.0,"Adventure,History,War",0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.6,15.0,nm0910951,\N
267284,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,123.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.3,6.0,nm4457074,"nm4843252,nm4900525,nm2679404"

# Remove "\N" values from the directors column

In [35]:
final_data_1 = final_data_1.drop(final_data_1[final_data_1.directors == "\\N"].index)
final_data_1

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,Adventure,...,News,Short,Adult,Reality-TV,Talk-Show,Game-Show,averageRating,numVotes,directors,writers
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,760.0,nm0846879,nm0846879
1,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.6,17.0,nm0141150,nm0141150
2,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.5,23.0,nm0533958,"nm0092809,nm0533958"
3,tt0000630,movie,Hamlet,Amleto,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.8,24.0,nm0143333,nm0000636
4,tt0000675,movie,Don Quijote,Don Quijote,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.9,19.0,nm0194088,nm0148859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267280,tt9916190,movie,Safeguard,Safeguard,0.0,2020.0,90.0,"Action,Adventure,Thriller",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.6,233.0,nm7308376,nm7308376
267281,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0.0,2020.0,84.0,Thriller,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.8,1331.0,nm1480867,"nm1480867,nm10538402"
267282,tt9916362,movie,Coven,Akelarre,0.0,2020.0,92.0,"Drama,History",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.4,4580.0,nm1893148,"nm1893148,nm3471432"
267283,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0.0,2019.0,0.0,"Adventure,History,War",0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.6,15.0,nm0910951,\N
267284,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,123.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.3,6.0,nm4457074,"nm4843252,nm4900525,nm2679404"

# Remove "\N" values from the writers column

In [36]:
final_data_1 = final_data_1.drop(final_data_1[final_data_1.writers == "\\N"].index)
final_data_1

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,Action,Adventure,...,News,Short,Adult,Reality-TV,Talk-Show,Game-Show,averageRating,numVotes,directors,writers
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,"Action,Adventure,Biography",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,760.0,nm0846879,nm0846879
1,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.6,17.0,nm0141150,nm0141150
2,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.5,23.0,nm0533958,"nm0092809,nm0533958"
3,tt0000630,movie,Hamlet,Amleto,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.8,24.0,nm0143333,nm0000636
4,tt0000675,movie,Don Quijote,Don Quijote,0.0,1908.0,0.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.9,19.0,nm0194088,nm0148859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267279,tt9916170,movie,The Rehearsal,O Ensaio,0.0,2019.0,51.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.7,6.0,nm5412267,"nm5412267,nm6743460,nm3245789"
267280,tt9916190,movie,Safeguard,Safeguard,0.0,2020.0,90.0,"Action,Adventure,Thriller",1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.6,233.0,nm7308376,nm7308376
267281,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0.0,2020.0,84.0,Thriller,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.8,1331.0,nm1480867,"nm1480867,nm10538402"
267282,tt9916362,movie,Coven,Akelarre,0.0,2020.0,92.0,"Drama,History",0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.4,4580.0,nm1893148,"nm1893148,nm3471432"
267284,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,123.0,Drama,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.3,6.0,nm4457074,"nm4843252,nm4900525,nm2679404"

# Drop the genres column as we have separated the genres using one hot encoding

In [37]:
final_data_1 = final_data_1.drop('genres', 1)
final_data_1

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,Action,Adventure,Biography,...,News,Short,Adult,Reality-TV,Talk-Show,Game-Show,averageRating,numVotes,directors,writers
0,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,760.0,nm0846879,nm0846879
1,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.6,17.0,nm0141150,nm0141150
2,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.5,23.0,nm0533958,"nm0092809,nm0533958"
3,tt0000630,movie,Hamlet,Amleto,0.0,1908.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.8,24.0,nm0143333,nm0000636
4,tt0000675,movie,Don Quijote,Don Quijote,0.0,1908.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.9,19.0,nm0194088,nm0148859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267279,tt9916170,movie,The Rehearsal,O Ensaio,0.0,2019.0,51.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.7,6.0,nm5412267,"nm5412267,nm6743460,nm3245789"
267280,tt9916190,movie,Safeguard,Safeguard,0.0,2020.0,90.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.6,233.0,nm7308376,nm7308376
267281,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0.0,2020.0,84.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.8,1331.0,nm1480867,"nm1480867,nm10538402"
267282,tt9916362,movie,Coven,Akelarre,0.0,2020.0,92.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.4,4580.0,nm1893148,"nm1893148,nm3471432"
267284,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0.0,2019.0,123.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.3,6.0,nm4457074,"nm4843252,nm4900525,nm2679404"

# Save the dataset in csv as we will use it for further operations

In [38]:
final_data_1.to_csv("final_data_for_algorithms.csv", sep=',')

# References

[1] https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

[2] https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html